In [144]:
import pylab
import calendar
import numpy as np
import pandas as pd
import seaborn as sn
from scipy import stats
import missingno as msno
from datetime import datetime
import matplotlib.pyplot as plt
import warnings
pd.options.mode.chained_assignment = None
warnings.filterwarnings("ignore", category=DeprecationWarning)
%matoplotlib inline

UsageError: Line magic function `%matoplotlib` not found.

In [145]:
daily_data = pd.read_csv('RawCapsicum.csv')

In [146]:
daily_data.head(5)

,Commodity,Date,Arrivals in Qtls.,Prices Rs. Qtl.Min,Prices Rs. Qtl.Max,Modal
0,CAPSICUM,30/01/2015,1203,2000,2591,2232
1,CAPSICUM,24/03/2015,1161,1815,2615,2265
2,CAPSICUM,08/04/2015,1494,1395,2135,1765
3,CAPSICUM,22/05/2015,1153,1623,2400,2055
4,CAPSICUM,31/05/2015,393,1571,3243,2457

In [147]:
daily_data.shape

(1461, 6)

In [148]:
df=daily_data.copy()

In [149]:
df.columns

Index(['Commodity', 'Date', 'Arrivals in Qtls.', 'Prices Rs. Qtl.Min',
       'Prices Rs. Qtl.Max', 'Modal'],
      dtype='object')

In [150]:
df=df.rename(index= str, columns={"Prices Rs. Qtl.Min":"min_price", "Prices Rs. Qtl.Max":"max_price","Modal":"modal"})

In [151]:
df.head()

  Commodity        Date  Arrivals in Qtls.  min_price  max_price  modal
0  CAPSICUM  30/01/2015               1203       2000       2591   2232
1  CAPSICUM  24/03/2015               1161       1815       2615   2265
2  CAPSICUM  08/04/2015               1494       1395       2135   1765
3  CAPSICUM  22/05/2015               1153       1623       2400   2055
4  CAPSICUM  31/05/2015                393       1571       3243   2457

In [152]:
df.columns

Index(['Commodity', 'Date', 'Arrivals in Qtls.', 'min_price', 'max_price',
       'modal'],
      dtype='object')

In [153]:
df.Date=pd.to_datetime(df.Date, errors='coerce')

In [154]:
df.head()

  Commodity       Date  Arrivals in Qtls.  min_price  max_price  modal
0  CAPSICUM 2015-01-30               1203       2000       2591   2232
1  CAPSICUM 2015-03-24               1161       1815       2615   2265
2  CAPSICUM 2015-08-04               1494       1395       2135   1765
3  CAPSICUM 2015-05-22               1153       1623       2400   2055
4  CAPSICUM 2015-05-31                393       1571       3243   2457

In [155]:
df= df.sort_values(by='Date')

In [156]:
df.head()

     Commodity       Date  Arrivals in Qtls.  min_price  max_price  modal
663   CAPSICUM 2015-01-01               1409       2166       3063   2496
277   CAPSICUM 2015-01-02                327       1989       2689   2333
1275  CAPSICUM 2015-01-03                271       1933       2578   2267
1118  CAPSICUM 2015-01-04               1434       1600       2523   2031
916   CAPSICUM 2015-01-05                924       1600       2067   1850

In [157]:
df.drop_duplicates('Date', inplace=True)

In [158]:
df.head(20)

     Commodity       Date  Arrivals in Qtls.  min_price  max_price  modal
663   CAPSICUM 2015-01-01               1409       2166       3063   2496
277   CAPSICUM 2015-01-02                327       1989       2689   2333
1275  CAPSICUM 2015-01-03                271       1933       2578   2267
1118  CAPSICUM 2015-01-04               1434       1600       2523   2031
916   CAPSICUM 2015-01-05                924       1600       2067   1850
875   CAPSICUM 2015-01-06               1445       1596       2538   2062
252   CAPSICUM 2015-01-07               1565       1835       2850   2325
1442  CAPSICUM 2015-01-08               1846       1867       2600   2240
1006  CAPSICUM 2015-01-09               2051       1062       1646   1362
94    CAPSICUM 2015-01-10               1204       1063       1856   1478
77    CAPSICUM 2015-01-11               1211       1438       2481   2063
558   CAPSICUM 2015-01-12               1626       1050       1832   1429
825   CAPSICUM 2015-01-13               1232       1771       2757   2264
506   CAPSICUM 2015-01-14               1302       1913       2569   2244
455   CAPSICUM 2015-01-15                816       2329       2950   2536
1322  CAPSICUM 2015-01-16                705       1914       2707   2350
1394  CAPSICUM 2015-01-17               1380       2067       2672   2344
982   CAPSICUM 2015-01-18                372       2213       3050   2631
575   CAPSICUM 2015-01-19               1603       2031       2838   2435
1248  CAPSICUM 2015-01-20               1357       2129       2750   2446

In [159]:
df.head(1461)

     Commodity       Date  Arrivals in Qtls.  min_price  max_price  modal
663   CAPSICUM 2015-01-01               1409       2166       3063   2496
277   CAPSICUM 2015-01-02                327       1989       2689   2333
1275  CAPSICUM 2015-01-03                271       1933       2578   2267
1118  CAPSICUM 2015-01-04               1434       1600       2523   2031
916   CAPSICUM 2015-01-05                924       1600       2067   1850
875   CAPSICUM 2015-01-06               1445       1596       2538   2062
252   CAPSICUM 2015-01-07               1565       1835       2850   2325
1442  CAPSICUM 2015-01-08               1846       1867       2600   2240
1006  CAPSICUM 2015-01-09               2051       1062       1646   1362
94    CAPSICUM 2015-01-10               1204       1063       1856   1478
77    CAPSICUM 2015-01-11               1211       1438       2481   2063
558   CAPSICUM 2015-01-12               1626       1050       1832   1429
825   CAPSICUM 2015-01-13               1232       1771       2757   2264
506   CAPSICUM 2015-01-14               1302       1913       2569   2244
455   CAPSICUM 2015-01-15                816       2329       2950   2536
1322  CAPSICUM 2015-01-16                705       1914       2707   2350
1394  CAPSICUM 2015-01-17               1380       2067       2672   2344
982   CAPSICUM 2015-01-18                372       2213       3050   2631
575   CAPSICUM 2015-01-19               1603       2031       2838   2435
1248  CAPSICUM 2015-01-20               1357       2129       2750   2446
1225  CAPSICUM 2015-01-21               1633       2000       2700   2329
366   CAPSICUM 2015-01-22               1276       2073       2933   2500
411   CAPSICUM 2015-01-23               1020       2460       2800   2600
1371  CAPSICUM 2015-01-24               1517       1990       2600   2325
1054  CAPSICUM 2015-01-25                331       2100       2971   2536
552   CAPSICUM 2015-01-26                831       1740       2740   2240
961   CAPSICUM 2015-01-27               1284       2254       2923   2542
90    CAPSICUM 2015-01-28               1434       2278       2833   2528
874   CAPSICUM 2015-01-29               1326       1964       2571   2261
0     CAPSICUM 2015-01-30               1203       2000       2591   2232
...        ...        ...                ...        ...        ...    ...
336   CAPSICUM 2018-12-02               2367       1745       2434   2098
1021  CAPSICUM 2018-12-03               1861       1433       2048   1764
709   CAPSICUM 2018-12-04               2463       1113       1781   1479
996   CAPSICUM 2018-12-05               1417       1280       1815   1581
524   CAPSICUM 2018-12-06               1792       1781       2637   2260
979   CAPSICUM 2018-12-07               1695       2276       3282   2802
732   CAPSICUM 2018-12-08               1004       1888       2749   2360
819   CAPSICUM 2018-12-09               1510       1337       2056   1740
475   CAPSICUM 2018-12-10               1511       1293       1852   1584
430   CAPSICUM 2018-12-11                917       1396       2128   1793
316   CAPSICUM 2018-12-12               1622       1177       1880   1532
1460  CAPSICUM 2018-12-13               1584       1410       1978   1715
226   CAPSICUM 2018-12-14               1002       1632       2297   1964
642   CAPSICUM 2018-12-15               1625       1269       1931   1644
1224  CAPSICUM 2018-12-16                677       1344       2215   1842
1274  CAPSICUM 2018-12-17                889       1616       2327   1994
410   CAPSICUM 2018-12-18               2227       1550       2360   1981
454   CAPSICUM 2018-12-19                640       1608       2451   2053
1348  CAPSICUM 2018-12-20               3067       1403       2215   1803
203   CAPSICUM 2018-12-21                833       1417       2310   1831
713   CAPSICUM 2018-12-22               1355       1600       2743   2176
295   CAPSICUM 2018-12-23                769       1459       2359   1889
981   CAPSICUM 2018-12-24               1283       1592       2324   1958
477   CAPSICUM 2018-12-25               2499       1550       2253   1934
1247  CAPSICUM 2018-12-26               1833       1599       2400   1967
824   CAPSICUM 2018-12-27               1931       1563       2448   2013
42    CAPSICUM 2018-12-28               2798       1626       2220   1935
734   CAPSICUM 2018-12-29               1967       1553       2225   1886
296   CAPSICUM 2018-12-30                180       1530       2260   1920
1349  CAPSICUM 2018-12-31               1150       1782       2473   2153

[1461 rows x 6 columns]

In [160]:
df.to_csv('capsicum.csv', sep = ',')